<h1>All Projects</h2>

<ol class="projects">
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project %>
    </li>
  <% end %>
</ol>

<%= link_to "create a project", new_project_path %>
